* {
    padding: 0;
    margin: 0;
    font-family: 'Sigmar One', sans-serif;
}
@font-face {
    font-family: 'Sigmar One';
    src: url('../fonts/SigmarOne-Regular.ttf') format('truetype');
}

.comidas {
    display: inline-block;
    background-image: url('../imgs/mesa.png');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: comidas;
    border: solid 1px #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.4);
}
.prato {
    border-radius: 15px;
    background-image: url('../imgs/prato.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    grid-area: prato;
}

.prato > .item > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.resultado {
    grid-area: resultado;
    display: grid;
    min-height: 100%;
    grid-template-columns: 0.30fr 0.40fr 0.09fr 0.15fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'estado emoji score pontuacao'
}

.resultado > #informacoes {
    display: none;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(26, 23, 83) 0%, rgb(35, 97, 112) 3%, rgba(7,107,130,1) 6%, rgba(2,178,215,1) 25%, rgb(38, 80, 119) 96%, rgba(0,212,255,1) 100%);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.25fr 0.5fr 0.1fr;
    grid-template-areas: 
        'titulo titulo2'
        'comidas comidas'
        'prato prato'
        'resultado resultado';
}

.card {
    display: inline-block;
    vertical-align: top;
    margin: 8px 15px;
    
    width: 100px;
    height: 100px;
    padding: 5px;
}

.comidas > .item > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.combinacoes {
    width: 100%;
    height: 100%;
}

.btCombinacoes {
    margin: 20px 10px;
    position: relative;
    border-radius: 15px;
    background-color: rgb(98, 134, 207);
    width: 40px;
    height: 30px;
}

.modal {
    border-radius: 12px;
    background-color: rgb(81, 105, 153);
}

#titulo {
    grid-area: titulo;
}

.titulo {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
}

.pontuacao {
    width: 100%;
    height: 100%;
    grid-area: pontuacao;
}

.pontuacao > .texto {
    font-size: 2.5em;
}

.estado {
    grid-area: estado;
}

.estado > .texto {
    padding-top: 8px;
    padding-left: 15px;
    font-size: 2.5em;
}

.score {
    width: 100%;
    height: 100%;
    grid-area: score;
    font-size: 2.5em;
}

.emoji {
    grid-area: emoji;
}

.emoji > img {
    margin-left:60px; 
    margin-top:7px; 
}